	.row a {
	    color: #fdb813;
	}
	
	.list_table {
		width: 60%;
    		margin: auto;
    		margin-top: 20px;
	}
	
	.list_table tbody {
		border:0;
	
	}
		
	.list_table th {
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}
	
	.list_table tr {
		background-color: #f2f2f2 !important;
	}
	
	.list_table tr:first-child {
		background-color: #b9b9b9 !important;
	}
	
	table tbody tr:nth-child(2) {
	    background-color: #b9b9b9 !important;
	}
	
	table tbody tr:nth-child(2) th {
	    border-radius: 0;
	}
	
	.list_table tr:not(:first-child) td {
		text-align: center;
		border-bottom: 1px solid #b9b9b9;
		border-right: 1px solid #b9b9b9;
		padding: 10px;
		font-size: 18px;
	}
	
	.list_table tr:not(:first-child) td:not(:first-child) {
		border-left: 1px solid #b9b9b9;
	}
	
	.list_table tr:last-child td:last-child {
		border-bottom-left-radius: 15px;
	}